.btn {
  padding: 14px 24px 14px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  &.btn-primary {
    background-color: $green;
    border: 1px solid $green;
  }
  &.btn-outline-primary {
    background-color: transparent;
    color: $green;
    border-color: $green;
  }
  &.transparent {
    background-color: transparent !important;
  }
}
.btn-toolbar {
  &.slim {
    .btn {
      padding: 0.3rem 1.5rem;
    }
  }
  .btn-primary {
    box-shadow: 0px 8px 20px rgba(0, 147, 0, 0.24),
      0px 2px 6px rgba(0, 147, 0, 0.16), 0px 0px 1px rgba(0, 147, 0, 0.08);
  }
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: $green;
  border-color: $green;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: $green;
  border-color: $green;
}
