.btn {
  padding: 14px 24px 14px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  &.btn-primary {
    background-color: $green;
    border: 1px solid $green;
  }
  &.btn-outline-primary {
    background-color: transparent;
    color: $green;
    border-color: $green;
  }
  &.transparent {
    background-color: transparent !important;
  }
  &.plain {
    background: rgba(0, 147, 0, 0.1);
    color: $green;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
  }
  &.bold {
    font-weight: 600;
  }
}
.btn-toolbar {
  &.slim {
    .btn {
      padding: 0.3rem 1.5rem;
      font-weight: normal;
    }
  }
  &.full {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .btn {
      width: calc(50% - 8px);
    }
  }
  &.center {
    max-width: 500px;
    margin: 0 auto;
  }
  .btn-primary {
    box-shadow: 0px 8px 20px rgba(0, 147, 0, 0.24), 0px 2px 6px rgba(0, 147, 0, 0.16), 0px 0px 1px rgba(0, 147, 0, 0.08);
  }
  .plain {
    box-shadow: none;
  }
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: $green;
  border-color: $green;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: $green;
  border-color: $green;
}

//alert

.alert {
  padding: 24px;
  background: #ffffff;
  border: 1px solid #cbd2d9;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.04)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
  i {
    font-size: 20px;
    position: absolute;
  }
  p {
    font-size: 12px;
    font-weight: normal;
    margin-left: 2.5rem;
    margin-bottom: 0;
  }
  &.warning {
    i {
      color: #ffc82c;
    }
  }
  &.error {
    background: rgba(255, 73, 73, 0.2);
    border: 1px solid #ff4949;
    box-sizing: border-box;
    border-radius: 4px;
    color: #616e7c;
    i {
      color: #ff4949;
    }
  }
  &.small {
    padding: 0.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    filter: none;
    p {
      margin-left: 0;
    }
    &.green {
      background: rgba(0, 147, 0, 0.12);
      color: $green;
      border: 0;
    }
  }
}

//stepper

.stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 24px 64px;
  border: 1px solid #cbd2d9;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  .step {
    display: table-cell;
    position: relative;
    &:first-child {
      .step-bar-left {
        display: none;
      }
    }
    &:last-child {
      .step-bar-right {
        display: none;
      }
    }
    .step-circle {
      width: 30px;
      height: 30px;
      margin: 0 auto;
      background-color: #cbd2d9;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      font-size: 16px;
      font-weight: 400;
      color: #616e7c;
    }
    .step-title {
      margin-top: 0.5rem;
      font-size: 16px;
      font-weight: 400;
      color: #616e7c;
      line-height: 1.2;
      text-align: center;
      color: rgba(0, 0, 0, 0.26);
    }
    .step-optional {
      text-align: center;
      color: rgba(0, 0, 0, 0.26);
    }
    .step-bar-left {
      position: absolute;
      top: 50%;
      height: 1px;
      border-top: 1px solid #dddddd;
      left: 0;
      right: 50%;
      margin-right: 80px;
    }
    .step-bar-right {
      position: absolute;
      top: 50%;
      height: 1px;
      border-top: 1px solid #dddddd;
      right: 0;
      left: 50%;
      margin-left: 80px;
    }
  }
  .step.active {
    .step-circle {
      background-color: $green;
      color: #fff;
    }
    .step-title {
      font-weight: 400;
      color: $dark;
    }
    .step-bar-left {
      border-color: $green;
    }
    .step-bar-right {
      border-color: $green;
    }
  }
  .step.done {
    .step-circle {
      &:before {
        font-family: 'FontAwesome';
        font-weight: 100;
        content: '\f00c';
      }
      * {
        display: none;
      }
    }
  }
  .step.editable {
    .step-circle {
      * {
        display: none;
      }
    }
  }
  .step.active.done {
    .step-title {
      font-weight: 400;
    }
  }
}

// modal

.modal {
  &.rounded {
    text-align: center;
    .modal-content {
      padding: 32px 0;
      border-radius: 32px;
    }
  }
  .success-modal {
    .success-icon {
      height: 50px;
      width: 50px;
      background-color: $green;
      color: #fff;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1.5rem;
      color: $dark;
    }
  }
}

.dropdown {
  &.show {
    .dropdown-toggle {
      color: $dark;
    }
  }
  .dropdown-toggle {
    &:after {
      content: none;
    }
    &.cart-btn {
      .badge {
        position: absolute;
        background: red;
        color: #fff;
        font-size: 10px;
        border-radius: 50%;
        top: 5px;
        right: 15px;
      }
    }
  }
  .dropdown-menu {
    padding: 1rem 1.5rem;
    border-radius: 12px;
    border: 0;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    .btn.dropdown-item {
      padding: 0.3rem 0;
      font-size: 14px;
      color: #616e7c;
      font-weight: 400;
      text-align: left;
      width: 100%;
      position: relative;
      padding-right: 1.5rem;
      i {
        margin-right: 0.5rem;
      }
      .fa-angle-right {
        margin-left: 0.5rem;
        margin-right: 0;
        position: absolute;
        right: 0;
        bottom: 8px;
      }
    }
    .btn.logout {
      background: $green;
      color: #fff;
      width: 100%;
      margin-top: 0.5rem;
      font-size: 14px;
    }
    &.cart {
      margin-right: 70px;
      min-width: 300px;
      span {
        font-weight: 700;
        color: #000;
        font-size: 14px;
      }
      .total {
        margin-top: 1rem;
      }
      .cart-item {
        padding: 5px;
        margin: 0.4rem 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
        img {
          border-radius: 12px;
          width: 100px;
        }
        .details {
          margin-left: 0.5rem;
          width: 100%;
          position: relative;
          h6 {
            font-size: 12px;
            font-weight: bold;
            color: $dark;
            margin-bottom: 0rem;
          }
          span {
            color: $green;
            font-size: 12px;
          }
          .fa-trash-can {
            position: absolute;
            right: 3px;
            top: 3px;
            color: #ff4949;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.justify-between {
  justify-content: space-between;
}

img {
  max-width: 100%;
}
.plain-page {
  margin: 2rem 0;
}
.min-container {
  max-width: 900px;
  margin: 0 auto;
}

.w100 {
  width: 100%;
}
@media (min-width: 1600px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 576px) {
  .modal-sm {
    max-width: 350px;
  }
}
